node_modules
npm-debug.log
dist-electron
Dreamy-Server-Manager-Android-arm64-debug.apk
.git
.gitignore
.worktrees
.devcontainer
README-termux.md
abrir-codespace.bat
dsm.cmd
tests
docs
.dockerignore
Dockerfile
docker-compose.yml
.env.example
.env
*.log
